.Output{
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.Row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: block;
  margin: 5px 0;
}
